
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/rubik/rubik-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/rubik/rubik-v14-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('../fonts/rubik/rubik-v14-latin-500.woff2') format('woff2'),
    url('../fonts/rubik/rubik-v14-latin-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
    url('../fonts/karla/karla-v15-latin-300.woff2') format('woff2'),
    url('../fonts/karla/karla-v15-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/karla/karla-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/karla/karla-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('../fonts/karla/karla-v15-latin-500.woff2') format('woff2')
    url('../fonts/karla/karla-v15-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../fonts/karla/karla-v15-latin-700.woff2') format('woff2'),
    url('../fonts/karla/karla-v15-latin-700.woff') format('woff');
}

$font-heading : 'Rubik';
$font-body : 'Karla';

$fonts: (
  'rubik' : $font-heading,
  'karla' : $font-body,
) !default;

@mixin font($font, $weight: null, $size: null, $important: null) {
  @if map-has-key($fonts, $font) {
    @if ($important == true) {
      font-family: map-get($fonts, $font) !important;
    } @else {
      font-family: map-get($fonts, $font);
    }
  } @else {
    @warn "`#{$font}` is not a valid font, available fonts: #{map-keys($fonts)}.";
  }

  @if $weight {
    font-weight: $weight;
  }
  @if $size {
    font-size: $size;
  }
}