@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), 
       url('../fonts/montserrat-v14-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/work-sans-v8-latin-regular.woff2') format('woff2'), 
       url('../fonts/work-sans-v8-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/work-sans-v8-latin-500.woff2') format('woff2'), 
       url('../fonts/work-sans-v8-latin-500.woff') format('woff'); 
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/work-sans-v8-latin-600.woff2') format('woff2'),
       url('../fonts/work-sans-v8-latin-600.woff') format('woff');
}


$font-montserrat      : 'Montserrat';
$font-worksans        : 'Work Sans';

$fonts: (
  'montserrat'        : $font-montserrat,
  'worksans'          : $font-worksans
) !default;

@mixin font($font, $weight: null, $size: null, $important: null) {
  @if map-has-key($fonts, $font) {
    @if ($important == true) {
      font-family: map-get($fonts, $font) !important;
    } @else {
      font-family: map-get($fonts, $font);
    }
  } @else {
    @warn "`#{$font}` is not a valid font, available fonts: #{map-keys($fonts)}.";
  }

  @if $weight {
    font-weight: $weight;
  }
  @if $size {
    font-size: $size;
  }
}