.button {
	@include font('montserrat', $weight: 600);
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2rem;
	height: 4.2rem;
	line-height: 4.2rem;
	padding: 0 2rem;
	transition: all .25s ease-in-out;
	cursor: pointer;
	overflow: hidden;

	@include breakpoint('min-tablet-landscape') {
		font-size: 1.4rem;
		height: 5.5rem;
		line-height: 5.5rem;
		padding: 0 5rem;
	}
}
.button--wide {
	padding: 0 4rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 0 6rem;
	}
}
.button--icon {
	@include flex;
	position: relative;
	padding: 0 4rem 0 3rem !important;

	&:hover,
	&:focus {
		.button__icon {
			transform: translateX(1rem);
		}
	}
}

.icon--arrow {
	transition: all .25s ease-in-out;
}

.button--open-yellow {
	border: 2px solid $color-blue-dark-2;
	line-height: 3.8rem;
	color: $color-blue-dark-2;

	&:hover,
	&:focus {
		background-color: $color-blue-dark-2;
		color: $color-white;
	}

	@include breakpoint('min-tablet-landscape') { 
		line-height: 5.1rem;
	}
}

.button--solid-yellow {
	background: $color-blue-dark-2;
	color: $color-white;
	outline: 0px solid $color-blue-dark-2;
	outline-offset: 0px;
	transition: all .1s ease-in;

	&:hover,
	&:focus {
		outline: 3px solid $color-blue-dark-2;
    outline-offset: 3px;
	}
}

.button__text,
.button__icon {
	position: relative;
	z-index: 2;
}
.button__icon {
	width: 1.8rem;
	height: auto;
	margin-right: 2rem;
	transition: all .2s ease-in;
}

.button__box {
	@include flex;
	margin-top: 5rem;
}

.button--left {
	margin-right: auto;
}

.button__arrow  {
	display: block;
	width: 6rem;
	height: 3rem;
	margin-top: auto;
}