.image--cover,
.image--contain {
	width: 100%;
	height: 100%;
}
.image--cover {
	object-fit: cover;
}
.image--contain {
	object-fit: contain;
}

.image--animated {
	transition: transform .2s ease-in;
}