%default-background-hexagons {
	&:before {
		content: '';
		position: absolute;
		right: -20rem;
		bottom: -12.5rem;
		width: 65rem;
		height: 65rem;
		display: block;
		background-image: url(../images/shapes/hexagon-cluster-gray.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}
}

.background__particles--default {
	@extend %default-background-hexagons;
}