%default-background-hexagons--before {
	&:after {
		content: '';
		position: absolute;
		display: block;
		background-image: url(../images/shapes/hexagon-cluster-gray.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}
}
%default-background-hexagons--after {
	&:after {
		content: '';
		position: absolute;
		display: block;
		background-image: url(../images/shapes/hexagon-cluster-gray-3.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}
}