.content__quote {
	@include flex($align: center);
	position: relative;
	background-color: $color-gray;
	padding: 3rem;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: -2.5rem;
		right: -1rem;
		background-image: url('../images/svg/quote.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 8rem;
		height: 4rem;

		@include breakpoint('min','tablet-landscape') {
			width: 10rem;
			height: 6rem;
		}
	}

	@include breakpoint('min','tablet-landscape') {
		padding: 5rem;
	}
}

.quote__text {
	@include breakpoint('min','tablet-landscape') {
		font-size: 2.4rem;
		font-style: italic;
	}
}
