.banner {
	padding: 12.5rem 0;
}
.banner__wrapper {
	@include flex($direction: column);
	@include sectionwrapper(168rem, $setDefaultPadding: 0 2.5rem, $unsetPadding: true, $setBreakpointMaxWidth: 'min-desktop-xlarge');
}

.banner__content {
	p {
		font-size: 2rem;

		@include breakpoint('min-desktop') {
			font-size: 2.6rem;
		}
	}
}

.title {
	position: relative;
	padding: 4rem 0;

	@include breakpoint('min-tablet-landscape') {
		padding: 12.5rem 0 7.5rem;
	}
}

.title__wrapper {
	@include flex($direction: column, $align: flex-end);
	@include sectionwrapper(100rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}
.title__wrapper--wide {
	@include flex($direction: column);
	@include sectionwrapper(117rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
	gap: 5rem;
}

.title__inner {
	max-width: 100%;
}
.title__inner--wide {
	max-width: 100%;

	@include breakpoint('min-tablet-landscape') {
		max-width: 80%;
	}
}
.title--centered {
	text-align: center;

	.title__inner {
		max-width: 85%;
		margin: 0 auto;

		@include breakpoint('min-tablet-landscape') {
			max-width: 60%;
		}
	}
}

.title__indicator {
	@include flex($align: center);
}
.indicator__icon {
	width: 5.6rem;
	height: 100%;
}

.banner__home {
	.banner__image {
		height: 40rem;
		
		@include breakpoint('min-tablet-landscape') {
			height: 55rem;
		}
		@include breakpoint('min-desktop') {
			height: 70rem;
		}
	}
}