.banner {
	@include flex($dynamicDirection: true, $breakpoint: 'min-desktop');

	@include breakpoint('min-desktop') {
		justify-content: space-between;
		align-items: center;
		height: calc(100vh - 10rem);	
	}
}

.banner__content {
	@include flex($align: center);
	position: relative;
	flex: 1;	
	padding: 5rem 2rem;

	p {
		font-size: 2rem;

		@include breakpoint('min-desktop') {
			font-size: 2rem;
		}
	}

	@include breakpoint('min-tablet-landscape') {
		padding: 7.5rem;
		height: 100%;
	}
	@include breakpoint('min-desktop-large') {
		padding: 0 15rem;
	}
}

.banner__left {
	@include flex($direction: column);
	position: relative;
	flex: 0 1 50%;
	height: 100%;

	@include breakpoint('max-desktop') {
		order: 2;
	}
}
.banner__right {
	@include flex($direction: column);
	flex: 0 1 50%;
	height: 100%;

	@include breakpoint('max-desktop') {
		order: 1;
	}
}

.content__box {
	@include flex($direction: column, $justify: center);
	position: relative;
	background-color: $color-white;
}

.banner__image {
	position: relative;

	@include breakpoint('max-tablet-landscape') {
		z-index: -1;
	}
	@include breakpoint('min-desktop') {
		flex: 1;
	}
}

.title {
	@include flex($align: center);
	position: relative;
	padding: 10rem 0;

	@include breakpoint('min-tablet-landscape') {
		min-height: 50rem;
		padding: 0 0;
	}

	@include breakpoint('min-desktop') {
		min-height: 65rem;
	}
}
.title__wrapper {
	@include sectionwrapper($setDefaultPadding: 0 3rem, $unsetPadding: true);
}
.title__inner {
	max-width: 100%;

	@include breakpoint('min-tablet-landscape') {
		max-width: 45%;
	}
}
.title__inner--wide {
	max-width: 100%;

	@include breakpoint('min-tablet-landscape') {
		max-width: 80%;
	}
}
.title--centered {
	text-align: center;

	.title__inner {
		max-width: 85%;
		margin: 0 auto;

		@include breakpoint('min-tablet-landscape') {
			max-width: 60%;
		}
	}
}

.title--shapes-left {
	&:before {
		@include breakpoint('min-tablet-landscape') {
			content: '';
			position: absolute;
			display: block;
			background-image: url(../images/shapes/hexagon-cluster-gray-2.svg);
			background-repeat: no-repeat;
			background-size: contain;
			z-index: -1;
			bottom: -10rem;
			left: 0rem;
			width: 40rem;
			height: 32.5rem;
		}
		@include breakpoint('min-desktop') {
			bottom: -30rem;
			width: 75rem;
			height: 60rem;
		}
	}
}
.title--shapes-right {
	&:after {
		content: '';
		position: absolute;
		display: block;
		background-image: url(../images/shapes/hexagon-cluster-gray-1.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
    top: 3rem;
    right: 0;
		height: 27.5rem;
		width: 18rem;
		
		@include breakpoint('min-tablet-landscape') {
			height: 45rem;
			width: 25rem;
		}
		@include breakpoint('min-desktop') {
			height: 60rem;
			width: 40rem;
		}
	}
}
.title--shapes-both {
	@extend .title--shapes-left;
	@extend .title--shapes-right;
}

.banner__actions,
.banner__bar {
	@include flex;
}
.banner__bar {
	@include breakpoint('max-desktop') {
		display: none !important;
	}
}
.banner__actions,
.banner__bar {
	height: 7.5rem;

	@include breakpoint('min-tablet-landscape') {
		height: 12.5rem;
	}
}
.banner__bar {
	@include flex($justify: space-between);
	background-color: $color-gray-light-1;
	padding: 0 3rem;
}

.action__button {
	@include flex($align: center, $justify: center);
	text-align: center;
	flex: 0 0 50%;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 600;

	&:hover,
	&:focus {
		background-color: darken($color-primary, 7);
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 1.6rem;
	}
}

.action__button--colored {
	background-color: darken($color-secondary, 4);
	color: $color-white;

	&:hover,
	&:focus {
		background-color: darken($color-secondary, 12);
	}
}
.action__button--colored-dark {
	background-color: darken($color-secondary, 8);
	color: $color-white;

	&:hover,
	&:focus {
		background-color: darken($color-secondary, 12);
	}
}

.banner__indicator {
	@include flex($align: center);
}
.indicator__icon {
	width: 4.6rem;
	height: 100%;
}

.banner__socials {
	@include flex($align: center);

	.cls-1 {
		fill: $color-secondary;
	}
	.cls-2 {
		fill: $color-gray-light-1;
	}
}

.banner__home {
	.banner__image {
		height: 27.5rem;
		
		@include breakpoint('min-tablet-landscape') {
			height: 45rem;
		}
	}
}

.banner__subpage {
	.banner__image {
		height: 100%;
	}
}