.banner {
	@include flex($align: center);
	height: calc(100vh - 20rem);
}
.banner__wrapper {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	@include sectionwrapper(133rem, $setBreakpointMaxWidth: 'min-desktop-xlarge', $setBreakpointMaxWidthSize: 183rem, $setDefaultpadding: 0 3rem, $setBreakpointPadding: 'min-tablet-portrait', $setBreakpointPaddingSize: 0 6rem, $unsetPadding: true);

	@include breakpoint('min-tablet-landscape') {
		justify-content: space-between;
	}
}
.banner__content {
	@include flex($align: center);
	flex: 0 0 47%;

	p {
		font-size: 2.4rem;
	}

	@include breakpoint('max-tablet-landscape') {
		margin-top: 5rem;
	}
}
.banner__image {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -3rem;
		left: -3rem;
		border: 5px solid $color-green;
		width: 100%;
		height: 100%;
	}

	@include breakpoint('max-tablet-landscape') {
		width: 100%;
	}
	@include breakpoint('min-tablet-landscape'){
		flex: 0 0 50%;
	}
	@include breakpoint('min-desktop-xlarge') {
		flex: 0 0 80rem;
	}
}


.banner__indicator {
	width: 5rem;
	height: 7rem;
	display: block;
	position: absolute;
	bottom: 2rem;
	right: 15rem;


	animation-name: bounce;
	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
}