.breadcrumbs {
	margin-bottom: 5rem;
}
.breadcrumbs__wrapper {
	@include flex;
	@include sectionwrapper;
}

.breadcrumb__navigation {
	@include flex;
	margin-bottom: 4rem;

	li {
		&:not(:first-child) {
			.breadcrumb__link {
				padding: 0 2rem 0 3rem;
			}
		}

		&:first-child .breadcrumb__link {
			border-top-left-radius: .5rem; 
			border-bottom-left-radius: .5rem;
			
			&:before {
				display: none; 
			}
		}
		&:last-child .breadcrumb__link {
			border-top-right-radius: .5rem; 
			border-bottom-right-radius: .5rem;
			padding: 0 2.5rem 0 3rem;
			
			&:after {
				display: none; 
			}
		}
	}
}
.breadcrumb__icon {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
}
.breadcrumb__link--icon {
	padding: 0 2rem 0 2rem;
}

.breadcrumb__link {
	@include flex($align: center);
	height: 5rem;
	background: $color-gray-light-2;
	text-align: center;
	position: relative;
	margin: 0 .5rem 0 0;
	font-size: 1.6rem;
	text-decoration: none;
	color: $color-black;

	&:after {
		content: "";  
		border-top: 2.5rem solid transparent;
		border-bottom: 2.5rem solid transparent;
		border-left: 1rem solid $color-gray-light-2;
		position: absolute;
		right: -1rem; 
		top: 0;
		z-index: 1;
	}
	
	&:before {
		content: "";  
		border-top: 2.5rem solid transparent;
		border-bottom: 2.5rem solid transparent;
		border-left: 1rem solid #ffffff;
		position: absolute; 
		left: 0; 
		top: 0;
	}
}
.breadcrumb__current {
	background: $color-blue-dark-2;
	color: $color-white;

	&:hover,
	&:focus {
		background: darken($color-blue-dark-2, 10);

		&:after {
			border-left-color: darken($color-blue-dark-2, 10);
		}
	}
}