
.card {
	position: relative;
	transition: all .2s ease-in;
	background-color: $color-white;
}
.card--shadow {
	&:hover,
	&:focus {
		box-shadow: .8rem .8rem $color-gray-boxshadow;
		transform: translate(-.8rem, -.8rem);
	}
}

.card--shadow-boxed {
	box-shadow: 0 0 3rem rgba($color-black, .16);

	&:hover,
	&:focus {
		box-shadow: 0 1rem 3rem rgba($color-black, .32);
		transform: translateY(-.5rem);
	}
}

.card--border-green {
	border-color: $color-green;

	&:hover,
	&:focus {
		border-color: $color-blue;

		.card__arrow {
			background-color: $color-blue;
		}
	}

	.card__arrow {
		background-color: $color-green;
	}

}
.card--border-blue {
	border-color: $color-blue;

	.card__arrow {
		background-color: $color-blue;
	}

	&:hover,
	&:focus {
		border-color: $color-green;

		.card__arrow {
			background-color:  $color-green;
		}
	}
}
.card--border-green,
.card--border-blue {
	border-width: 0 0 .4rem 0;
	border-style: solid;

	@include breakpoint('min-tablet-landscape') {
		border-width: 0 0 .8rem 0;
	}
}

.card--row {
	@include flex;
	position: relative;
	
	&:not(:last-child){
		margin-bottom: 5rem;

		@include breakpoint('min-tablet-landscape') {
			margin-bottom: 10rem;
		}
	}

	.card__link {
		@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	}
	.card__image {
		height: 32.5rem;

		@include breakpoint('min-tablet-landscape') {
			height: 55rem;
			flex: 0 0 45%;
		}
	}
	.card__content {
		@include flex($direction: column);
		padding: 4rem 3rem;

		@include breakpoint('min-tablet-landscape') {
			padding: 7.5rem 6rem;
		}
	}
	&.card--even {
		.card__image {
			order: 2;
		}
		.card__arrow {
			right: unset;
			left: 0;
		}
	}

	@include breakpoint('max-tablet-landscape') {
		.card__image {
			order: 2;
		}
		.card__arrow {
			right: unset;
			left: 0;
		}
	}
}

.card--column {
	.card__image {
		height: 32.5rem;
	}
	.card__content {
		@include flex($direction: column);
		padding: 4rem 3rem;

		@include breakpoint('min-tablet-landscape') {
			padding: 5rem 6rem;
		}
	}
}

.card__arrow {
	@include flex($align: center, $justify: center);
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4rem;
	height: 3.5rem;
	transition: all .2s ease-in;

	@include breakpoint('min-tablet-landscape') {
		width: 5.5rem;
		height: 5rem;
	}
}
.card__arrow--inner {
	display: block;
	width: 1.8rem;
	height: 1.8rem;

	@include breakpoint('min-tablet-landscape') {
		width: 2.2rem;
		height: 2.2rem;
	}
}

.card__meta {
	@include flex($align: center, $justify: space-between);
	margin-bottom: 4rem;
}
.meta__tags {
	@include flex($align: center);
}
.meta__tag {
	@include flex($align: center);
	background-color: $color-gray-light-2;
	padding: .5rem 1rem;
	height: 3.4rem;
	line-height: 3.4rem;
	font-size: 1.6rem;
	color: $color-black;

	&:not(:last-child) {
		margin-right: .5rem;
	}
}
.meta__date {
	color: $color-gray-dark-1;
	font-size: 1.6rem;
}

.card__price {
	font-weight: 600;
	font-size: 2.4rem;
}
.card__points {
	@include flex($direction: column);
	margin: 5rem 0;
	list-style: none;
  padding-left: 0;
	
	.point__item {
		position: relative;
		font-size: 2rem;
		padding: .5rem 0;
		
		&:not(:last-child) {
			margin-bottom: .5rem;
			border-bottom: 2px solid $color-gray-light-2;
		}
	}
}