.content--main {
	font-size: 1.8rem;
	line-height: 1.8;
}

.content--narrowed {
	flex: 0 0 90%;

	@include breakpoint('min-tablet-landscape') {
		flex: 0 0 60%;
	}
}

.content--wide {
	flex: 0 0 100%;
}

.text__main {
	p {
		a {
			@extend %defaultTextLink;
		}
	}
}