.contact {
	@extend %contentPaddingBottom;
}
.contact__wrapper {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape', $wrap: wrap);
	@include sectionwrapper($setDefaultPadding: 0 3rem);
}
.form__socials {
	@include flex;
	flex: 1;

	@include breakpoint('min-tablet-landscape') {
		flex-direction: column;
		flex: 0 0 12.5em;
	}
}

.form__box {
	@include flex($direction: column);
	flex: 1;
	position: relative;
	padding: 3rem;
	background-color: $color-white;
	box-shadow: 0 0 5rem rgba($color-black, .16);

	@include breakpoint('min-tablet-landscape') {
		padding: 10rem;
	}
}

.form__intro {
	margin-bottom: 5rem;
}

.form__message {
	margin-bottom: 7.5rem;
	font-weight: 500;
	font-size: 2rem;
	font-style: italic;
}
.form__message--success {
	color: $color-yellow;
}
.form__message--bad {
	color: $color-error;
}