.footer {
	background-color: $color-footer;
	border-bottom: 4rem solid $color-footer-border;
	color: $color-black;
	width: 100%;

	@include breakpoint('min-tablet-landscape') {
		@include flex($justify: space-between);
	}
}
.footer__left {
	flex: 1;
	padding: 10rem 2.5rem 0;

	@include breakpoint('min-tablet-landscape') {
		padding: 12.5rem 5rem 0;
	}

	@include breakpoint('min-desktop') {
		padding: 15rem 7.5rem 0;
	}
}

.footer__contact {
	margin: -3rem 0 0;
	color: $color-black;

	&:hover,
	&:focus {
		.contact__icon {				
			transform: translateX(2rem);
		}
	}

	@include breakpoint('min-mobile') {
		flex: 0 0 30%;
	}
	@include breakpoint('min-tablet-landscape') {
		flex: 0 0 27.5%;
	}
}
.contact__link {
	cursor: pointer;
	display: inline-block;
}
.contact__title {
	font-size: 5.6rem;
	line-height: 1;
	width: min-content;
  white-space: break-space;
	margin-left: auto;

	@include breakpoint('min-desktop') {
		font-size: 6.4rem;
	}
}
.contact__icon {
	@include flex;
	width: 6rem;
	height: 6rem;
	margin-left: .5rem;
	margin-top: 3rem;
}

.footer__top,
.footer__bottom {
	@include flex($dynamicDirection: true, $breakpoint: 'min-desktop');
}
.footer__bottom {
	margin-top: 10rem;
	margin-bottom: 3rem;
}
.footer__copyright {
	font-size: 1.4rem;

	p {
		font-size: inherit;
	}
}

.footer__navigation {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-portrait');
	color: $color-black;

	@include breakpoint('max-desktop') {
		margin-top: 7.5rem;
	}
	@include breakpoint('min-desktop') {
		flex: 0 0 50%;
		margin-left: auto;
	}
}
.footer__menu {
	flex: 1;

	@include breakpoint('max-tablet-landscape') {
		margin-top: 7.5rem;
	}
}

.footer__right {
	@include flex($align: flex-end);
	flex: 0 0 10rem;

	@include breakpoint('max-tablet-landscape') {
		display: none;
	}
}

.footer__scroll {
	@include flex($align: center, $justify: center);
	width: 10rem;
	height: 10rem;
	background-color: $color-footer-scroll;
	cursor: pointer;

	.scroll__icon {
		width: 2.6rem;
		height: 2.6rem;
		display: block;
		transition: all .125s linear;
	}

	&:hover,
	&:focus {
		background-color: darken($color-primary, 10);

		.scroll__icon {
			transform: scale(1.2);
		}
	}
}

.navigation__info {
	@include flex($direction: column);
	margin-top: 3rem;
}