.footer {
	@include flex($direction: column);
	position: relative;
	background-color: $color-gray-blue-soft;	
	margin-top: 15rem;
}

.footer__details {
	@include breakpoint('max-tablet-landscape') {
		order: 2;
		margin-top: 5rem;
    border-top: 3px solid darken($color-gray-blue-soft, 7);
    padding-top: 5rem;
	}
	@include breakpoint('min-tablet-landscape') {
		padding: 5rem 4rem;
		flex: 1;
	}
	@include breakpoint('min-desktop') {
		padding: 7.5rem 4rem;
	}
}

.footer__top {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	padding: 7.5rem 3rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 0 0;
		justify-content: space-between;
	}
}
.footer__box {
	width: 100%;
	margin-top: 7.5rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 7.5rem;
		margin-top: -10rem;
		background-color: $color-white;
		color: $color-white;
		width: 62.5%;
		box-shadow: -.5rem -.5rem 2rem rgba($color-gray-dark-2, .1);
	}
	@include breakpoint('min-desktop') {
		width: 57.5%;
		padding: 12.5rem;
	}
}

.footer__contact {
	@include flex($direction: column);
	font-size: 2.2rem;
	color: $color-black;
	font-weight: 600;

	@include breakpoint('min-tablet-landscape') {
		margin-top: 5rem;
	}
}
.contact__author { 	
	margin-bottom: 3rem;
}

.footer__navigation {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-portrait');
}
.footer__menu {	
	flex: 1;

	@include breakpoint('max-tablet-landscape') {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
}

.footer__copyright {
	@include flex($align: center);
	font-size: 1.4rem;
	height: 10rem;

	@include breakpoint('max-tablet-landscape') {
		margin-top: 5rem;
	}

	@include breakpoint('min-tablet-landscape') {
		height: 15rem;
	}
}
.copyright__wrapper {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-portrait');
	@extend %wrapper--wide;

	@include breakpoint('min-tablet-portrait') {
		justify-content: space-between;
	}
}

.copyright__author {
	@include breakpoint('max-tablet-portrait') {
		margin-top: 3rem;
		order: 2;
	}
}