.form__fields {
	@include flex($wrap: wrap);
}

.form__row {
	@include flex($dynamicDirection: column, $breakpoint: 'min-tablet-portrait');
	flex: 0 0 100%;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	@include breakpoint('max-tablet-portrait') {
		.form__group--spacer {
			margin-bottom: 3rem;
		}
	}
}

.form__group {
	flex: 1;
}
.form__group--half {
	flex: 0 0 calc(50% - 1.5rem)
}
.form__group--spacer {
	@include breakpoint('min-tablet-portrait') {
		margin-right: 3rem;
	}
}

.form__label {
	@include flex;

	@include breakpoint('min-tablet-landscape') {
		margin-bottom: 1rem;
	}
}

.form__actions {
	@include flex($justify: center);
	margin-top: 5rem;

	.action {
		@extend .button;
		@extend .button--solid-blue;

		appearance: none;
		border: 0;
	}
}

input[type="text"],
input[type="email"],
select,
textarea,
button {
	appearance: none;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
}

input[type="text"],
input[type="email"],
select {
	width: 100%;
	border: 2px solid $color-gray-light-2;
	height: 6rem;
	padding: 0 2rem;
}
textarea {
	width: 100%;
	resize: vertical;
	border: 2px solid $color-gray-light-2;
	padding: 2rem;
	min-height: 30rem;
}
select {
	appearance: none;
	background-image: url("../images/svg/chevron-down.svg");
	background-size: 1.2rem;
	background-position: 96% center; 
	background-repeat: no-repeat;
}
input[type="text"],
input[type="email"],
select,
textarea {
	font-weight: 400;
	font-size: 1.4rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 1.6rem;
	}
}

.form--spacer {
	margin-top: 10rem;
}