.header {
	height: 20rem;
}
.header__wrapper {
	@include flex($align: center, $justify: space-between);
	@include sectionwrapper(163rem, $setBreakpointMaxWidth: 'min-desktop-large', $setBreakpointMaxWidthSize: 183rem, $setDefaultPadding: 0 3rem, $setBreakpointPadding: 'min-desktop-large', $setBreakpointPaddingSize: 0 6rem, $unsetPadding: true);
	height: 100%;
}

.brand__image {
	height: auto;
	width: 22.5rem;
}
