.header {
	position: fixed;
	height: 7rem;
	width: 100%;
	top: 0;
	background-color: $color-white;
	z-index: 10;
	transition: all .2s linear;

	&.header--scrolled {
		box-shadow: 0 .2rem .5rem 0 rgba($color-black, .2);
	}

	@include breakpoint('min-tablet-landscape') {
		height: 10rem;
	}
}


.header__wrapper {
	@include flex($align: center, $justify: space-between);
	height: 100%;
}

.header__brand {
	z-index: 3;
	padding-left: 2rem;
}
.brand__image {
	height: 4.4rem;
	width: auto;

	@include breakpoint('max-desktop') {
		.text-secondary {
			display: none;
		}
		.image--cover {
			width: unset;
		}
	}
	@include breakpoint('min-desktop') {
		height: auto;
		width: 27.5rem;
	}
}

.header__navigation {
	@include flex;

	.navigation {
		@include breakpoint('max-tablet-landscape') {
			@include flex($direction: column, $align: center);
			position: fixed;
			top: 7rem;
			bottom: 0;
			right: 0;
			background: $color-white;
			transform: translateX(100%);
			width: 100%;
			padding: 15rem 5rem 5rem;
			z-index: 1;
			transition: transform .2s linear;
		}
		.navigation__link {
			@include breakpoint('max-tablet-landscape') {
				font-size: 2.2rem;
			}
		}
		@include breakpoint('min-desktop') {
			display: flex;
			top: 10rem;
		}
	}
}

.navigation--open {
	.header__navigation {
		.navigation {
			transform: translateX(0);
		}
	}
}

.header__toggle {
	@include flex($direction: column, $align: center, $justify: center);
	position: relative;
  width: 7rem;
	height: 7rem;  
	background: $color-primary;
	cursor: pointer;
	z-index: 10;
	
	&:hover,
	&:focus,
	.active {
		background: darken($color-primary, 7);

		.line-1 {
			transform: translateY($menu-icon-line / 2 * -1);
		}
		.line-3 {
			transform: translateY($menu-icon-line / 2);
		}  
	}

  .line {
    display: block;
    background: $color-white;
    width: 3rem;
    height: .3rem;
		transition: all .2s ease;
		
		&:not(:last-child) {
			margin-bottom: .5rem;
		}
  }
  &.active {
		.line {
			&:nth-child(1) {
				transform: translateY(.8rem) translateX($menu-icon-translateX) rotate($menu-icon-rotation);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3){
				transform: translateY(-.8rem) translateX($menu-icon-translateX) rotate($menu-icon-rotation * -1);
			}
		}
	}
	
	@include breakpoint('min-tablet-landscape') {
		width: 10rem;
		height: 10rem; 
		margin-left: 5rem;
	}
}