%link--spacer {
	&:not(:last-child) {
		margin-right: 2rem;
	}
}

.navigation__link {
	@include font('karla');
	font-size: 1.6rem;	
	line-height: 1.8;

	&.current,
	&.section {
		font-weight: 800;
	}

	&:not(:last-child) {
		@include breakpoint('min-tablet-landscape') {
			margin-right: 4rem;
			margin-bottom: 0;
		}
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 2rem;
	}
}

.navigation__link--small {
	@extend %link--spacer;
	font-weight: 500;
}

.navigation__link--medium  {
	font-size: 1.8rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 2.2rem;
	}
}

.navigation__link--big {
	font-size: 3rem;

	&.current {
		&:after {
			content: '';
			background-image: url(../images/svg/arrow-left.svg);
			background-size: 2.8rem;
			background-repeat: no-repeat;
			width: 2.8rem;
			height: 2.8rem;
			display: inline-flex;
			margin-left: 3rem;
		}
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 4.8rem;
	}
}

.navigation__link--uppercase {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.6rem;

}

.navigation__link--main	{
	&:not(.current) {
		color: $color-gray-dark-1;
		font-weight: 300;
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 2rem;
	}
}

.navigation__link--button {
	@include flex($align: center);
	height: 5rem;
	line-height: 5rem;
	padding: 0 3rem;
	background-color: $color-primary;
	color: $color-white;
	transition: background-color .2s ease;

	&:hover,
	&:focus,
	&.current {
		background-color: darken($color-primary, 7);
	}

	@include breakpoint('max-desktop') {
		margin-top: 2rem;
	}
}

.navigation__title {
	@extend %heading--uppercase-small;
	display: block;
	margin-bottom: 2rem;
	display: inline-block;
}

.navigation--column {
	@include flex($direction: column);

	.navigation__link {
		margin-right: 0;
	}
}
.navigation--row {
	@include flex($align: center);
}
.navigation--row--centered {
	@include flex($align: center, $justify: center);
}


.navigation__link--colored {
	color: $color-primary;
}

.navigation__spacer--top {
	margin-top: 5rem;
}

.navigation__submenu {
	position: relative;
	height: 10rem;

	&:hover,
	&:focus {
		.navigation__popover {
			max-height: 99rem;
			visibility: visible;
		}
	}

	.navigation__link {
		margin-right: 0;
	}
}
.navigation__popover {
	@include flex($direction: column);
	border-left: .7rem solid $color-primary;
	background-color: $color-white;
	box-shadow: 0 .5rem .5rem rgba($color-black, .3);
	border-bottom-right-radius: 1.5rem;
	position: absolute;
	top: 10rem;
	min-width: 27.5rem;
	max-height: 0;
	visibility: hidden;
	overflow: hidden;

	.navigation__link {
		padding: 1rem 3rem;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-tertiary;
		}
	}
}