
.navigation__popup {
	@include flex;	
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba($color-black, .5);
	transition: all .2s ease;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
}
.navigation__popup--open {
	opacity: 1;
	visibility: visible;
}

.popup__wrapper {
	position: relative;
	margin: 1.5rem;
	background-color: $color-white;
	color: $color-black;
	border-bottom: 1.2rem solid $color-tertiary;
	box-shadow: 0 0 2rem rgba($color-black, .2);
	border-top-left-radius: 2rem;
	flex: 1;
	
	@include breakpoint('min-tablet-portrait') {
		border-bottom: 2rem solid $color-tertiary;
		margin: 2.5rem;
	}
}
.popup__inner {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	flex: 1;
	height: 100%;

	@include breakpoint('min-tablet-landscape') {
		justify-content: space-between;
	}
}
.popup__image {
	flex: 0 0 22.5%;
	background-color: $color-gray-light-1;
	border-top-left-radius: 2rem;

	@include breakpoint('max-tablet-landscape') {
		display: none;
	}

	@include breakpoint('min-tablet-landscape') {
		flex: 0 0 40%;
	}
}
.popup__content {
	@include flex($direction: column, $justify: center);
	flex: 1;
	padding: 7.5rem 4rem 3rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 15rem 10rem 5rem;
	}
}
.popup__close {
	position: absolute;
	width: 2.4rem;
	height: 2.4rem;
	display: block;
	top: 2rem;
	right: 2rem;
	transition: all .2s ease;
	cursor: pointer;
	
	&:hover,
	&:focus {
		transform: scale(1.2);
	}
}
.popup__socials {
	@include flex($align: center);
	margin-top: auto;
}
