
.navigation__popup {
	@include flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all .2s ease;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
}
.navigation__popup--open {
	opacity: 1;
	visibility: visible;
}

.popup__wrapper {
	position: relative;
	background-color: $color-white;
	color: $color-black;
	border: 1.5rem solid $color-gray;
	box-shadow: 0 0 2rem rgba($color-black, .2);
	flex: 1;

	@include breakpoint('min-tablet-portrait') {
		border-width: 3rem;
	}
}
.popup__inner {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	flex: 1;
	height: 100%;

	@include breakpoint('min-tablet-landscape') {
		justify-content: space-between;
	}
}
.popup__image {
	flex: 0 0 22.5%;
	background-color: $color-gray;

	@include breakpoint('max-tablet-landscape') {
		display: none;
	}

	@include breakpoint('min-tablet-landscape') {
		flex: 0 0 32.5%;
	}
}
.popup__content {
	@include flex($direction: column, $justify: center);
	flex: 1;
	padding: 7.5rem 4rem 3rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 15rem 10rem 5rem;
	}
}
.popup__close {
	position: absolute;
	width: 4.6rem;
	height: 4.6rem;
	display: block;
	top: 0;
	right: 0;
	padding: 1rem;
	transition: all 0.2s ease;
	cursor: pointer;
	background: $color-black;

	&:hover,
	&:focus {
		background: darken($color-black, 10);
	}
}
.popup__socials {
	@include flex($align: center);
	margin-top: auto;
}
