.team__wrapper {
	@include sectionwrapper(133rem, $unsetPadding: true, $setDefaultPadding: 0 2.5rem);
}
.team__list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem 0;

	@include breakpoint('min','tablet-portrait') {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 3rem;
	}
	@include breakpoint('min','tablet-landscape') {
		max-width: 80%;
		grid-gap: 0 5rem;
	}
}

.member {
	background-color: $color-white;
	box-shadow: 0 0 5rem rgba($color-black, .16);
}
.member__image {
	height: 37.5rem;

	.image--cover {
		object-position: top center;
	}

	@include breakpoint('min','tablet-landscape') {
		height: 47.5rem;
	}
}
.member__content {
	@include flex($direction: column);
	padding: 2.5rem;
}
.member__function {
	font-size: 1.8rem;

	@include breakpoint('min','tablet-landscape') {
		font-size: 2.2rem;
	}
}
.member__email {
	margin-top: 1.5rem;
	color: $color-primary;

	&:hover,
	&:focus {
		color: darken($color-primary, 15);
	}
}
