.team {
	@extend %defaultSectionPadding;
	position: relative;
}
.team__wrapper {
	@include sectionwrapper(133rem, $unsetPadding: true, $setDefaultPadding: 0 3rem);
}
.team__list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem 0;

	@include breakpoint('min-tablet-portrait') {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 5rem;
	}
	@include breakpoint('min-desktop') {
		grid-template-columns: repeat(3, 1fr);
	}
}

.member {
	background-color: $color-white;
	box-shadow: 0 0 5rem rgba($color-black, .16);
}
.member__image {
	height: 35rem;
}
.member__content {
	padding: 3rem;
}