.title {
	@include flex($align: center);
	position: relative;
	padding: 10rem 0;
	overflow: hidden;

	@include breakpoint('min-tablet-landscape') {
		min-height: 70rem;
		padding: 0 0;
	}
}
.title__wrapper {
	@include sectionwrapper($setDefaultPadding: 0 4rem, $unsetPadding: true);
}
.title__inner {
	max-width: 100%;

	@include breakpoint('min-tablet-landscape') {
		max-width: 45%;
	}
}
.title__inner--wide {
	max-width: 100%;

	@include breakpoint('min-tablet-landscape') {
		max-width: 80%;
	}
}
.title--centered {
	text-align: center;

	.title__inner {
		max-width: 85%;
		margin: 0 auto;

		@include breakpoint('min-tablet-landscape') {
			max-width: 60%;

		}
	}
}

.title--shapes {
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 2rem;
		height: 30rem;
		background-image: url(../images/shapes/hexagon-big.svg);
		background-repeat: no-repeat;
    background-size: contain;
		right: -7.5rem;
		bottom: 0;
		transform: rotate(132deg);
		z-index: -1;

		@include breakpoint('min-tablet-landscape') {
			width: 50rem;
			height: 55rem;
			top: 5rem;
			bottom: unset;
			right: -15rem;
		}
	}
}