$color-error: #CF000F;
$color-white: #FFFFFF;
$color-black: #282828;

// option blue
$color-primary: #004FFE;
$color-secondary: #51a8e8;

// ---

$color-gray: #f3f4f2;

$color-gray-dark: #41413f;

$color-gray-boxshadow: $color-gray-dark;

$color-footer: $color-white;
$color-footer-border: $color-primary;
$color-footer-scroll: $color-primary;
