$color-error: #CF000F;
$color-white: #FFFFFF;
$color-black: #313030;

$color-primary: #F06060;
$color-secondary: #577590;
$color-tertiary: #E4DFDA;

///----
$color-gray-light-1: #f3f3f3;
$color-gray-light-2: #8f8f8f;
$color-gray-dark-1: #6d7175;
$color-gray-dark-2: #1E2D24;

$color-gray-blue-soft: #E6ECF2;
$color-gray-blue-soft-2: darken(#E6ECF2, 7);
$color-gray-blue-soft-3: darken(#E6ECF2, 20);

$color-gray-boxshadow: darken($color-tertiary, 12);