*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  &.navigation--open {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

%defaultSectionPadding {
  padding: 5rem 0;

  @include breakpoint('min-desktop') {
		padding: 10rem 0;
	}
}

.section__title {
  margin-bottom: 7.5rem;

  @include breakpoint('min-tablet-landscape') {
    max-width: 75%;
  }
}