*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    @include flex($direction: column);
    padding-top: 7rem;

    &.navigation--open {
        overflow-y: hidden;
    }

	@include breakpoint('min','tablet-landscape') {
		padding-top: 9rem;
	}
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0 0;
  padding: 0 0;
}

%defaultSectionPadding {
    padding: 3rem 0 5rem;

    @include breakpoint('min','tablet-portrait') {
        padding: 5rem 0 7.5rem;
    }
    @include breakpoint('min','tablet-landscape') {
        padding: 5rem 0 10rem 0;
    }
    @include breakpoint('min','desktop') {
        padding: 5rem 0 12.5rem 0;
    }
}
%bigSectionPadding {
  padding: 5rem 0;

	@include breakpoint('min','tablet-landscape') {
		padding: 7.5rem 0;
    }
    @include breakpoint('min','desktop') {
		padding: 10rem 0;
	}
}

%contentPaddingBottom {
  padding-bottom: 10rem;

  @include breakpoint('min','tablet-landscape') {
    padding-bottom: 20rem;
  }
}


.preload {
  & * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important
  }
 }

.section__title {
  margin-bottom: 7.5rem;

  @include breakpoint('min','tablet-landscape') {
    max-width: 75%;
  }
}

%wrapper--default {
	@include sectionwrapper(133rem, $setDefaultPadding: 0 2.5rem, $unsetPadding: true, $setBreakpointMaxWidth: 'desktop-xlarge');
}
%wrapper--small {
	@include sectionwrapper(117rem, $setDefaultPadding: 0 2.5rem, $unsetPadding: true, $setBreakpointMaxWidth: 'desktop-xlarge');
}
%wrapper--medium {
	@include sectionwrapper(163rem, $setDefaultPadding: 0 2.5rem, $unsetPadding: true, $setBreakpointMaxWidth: 'desktop-xlarge');
}
%wrapper--wide {
	@include sectionwrapper(100%, $setDefaultPadding: 0 2.5rem, $unsetPadding: true, $setBreakpointMaxWidth: 'desktop-xlarge', $setBreakpointMaxWidthSize: 183rem)
}

.text__main {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include flex($align: center);
      list-style: none;
      font-size: inherit;
      font-size: 1.6rem;
      line-height: 1.8;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:before {
        content: '';
        display: block;
        background-image: url('../images/svg/list-item.svg');
        background-repeat: no-repeat;
        background-size: 3.2rem;
        width: 3.2rem;
        height: 3.2rem;
        padding-left: 5rem;
      }

      @include breakpoint('min','tablet-landscape') {
        font-size: 2rem;
      }
    }
  }
}
