%heading--uppercase-small {
	@include font('montserrat', $weight: 800);
	text-transform: uppercase;
	font-size: 1.6rem;
	color: $color-black;
}
%navigation__link--dark {
	@include font('worksans');
	font-size: 2rem;
	color: $color-black;


	&:hover,
	&:focus {
		color: $color-blue-dark-2;
	}
	&.current,
	&.section {
		font-weight: 800;
	}
}
%defaultTextLink {
  position: relative;

  &:after {
		content: "";
    position: absolute;
    bottom: .2rem;
    left: 0;
    right: 0;
    height: .6rem;
    z-index: -1;
		background-color:  $color-blue-light-3;
  }

  &:hover,
  &:focus {
    &:after {
      background-color: $color-blue-dark-1;
    }
  }
}


body {
	color: $color-black;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	@include font('montserrat', $weight: 800);
	margin-top: 0;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.heading-1 {
	font-size: 3.6rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 6.4rem;
	}
}
.heading-2 {
	font-size: 2.8rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 4.2rem;
	}
}
.heading-3 {
	font-size: 2.4rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 3.2rem;
	}
}

.heading-4 {
	font-size: 1.8rem;

	@include breakpoint('min-tablet-landscape') {
		font-size: 2.2rem;
	}
}

p {
	font-size: 1.5rem;
	margin-top: 0;
	line-height: 1.6;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	@include breakpoint('min-tablet-landscape') { 
		font-size: 2.2rem;
	}
}

.heading--margin-small {
	margin-bottom: 2rem;
}
.heading--margin-none {
	margin: 0 0;
}


.text--yellow,
.heading--yellow {
	color: $color-blue-dark-2;
}
.text--green,
.heading--green {
	color: $color-green;
}


.text--accentuated {
	font-weight: 700;
}