%heading--uppercase-small {
	@include font('karla', $weight: 600);
	text-transform: uppercase;
	font-size: 2rem;
}
%defaultTextLink {
	position: relative;
	font-weight: 500;

  &:after {
	content: "";
    position: absolute;
    bottom: .2rem;
    left: -.2rem;
    right: -.2rem;
    height: .6rem;
    z-index: -1;
		background-color: $color-tertiary;
		transition: height .2s ease;
  }

  &:hover,
  &:focus {
    &:after {
      height: .9rem;
    }
  }
}


body {
	@include font('karla');
	color: $color-black;
}

.title--centered {
	.heading-1,
	.heading-2 {
		@include flex($direction: column, $align: center);
	}
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
	@include font('rubik');
	margin-top: 0;
}

.heading-1 {
    @include font-size(
        3.6rem,
        4.6rem,
        $line-height: 1.2,
        $font-weight: 600
    );
}
.heading-2 {
    @include font-size(
        2.6rem,
        4rem,
        $line-height: 1.2,
        $font-weight: 600
    );
}
.heading-3 {
    @include font-size(
        2.2rem,
        3rem,
        $line-height: 1.2,
        $font-weight: 500
    );
}
.heading-4 {
    @include font-size(
        2rem,
        2.4rem,
        $line-height: 1.2,
        $font-weight: 500
    );
}
.heading-5 {
    @include font-size(
        1.8rem,
        2rem,
        $line-height: 1.2,
        $font-weight: 500
    );
}

p,
ul,
ol {
    @include font-size(
        1.6rem,
        1.8rem,
        $line-height: 1.8
    );
	margin: 0 0;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.heading--margin-small {
	margin-bottom: 2rem;
}
.heading--margin-big {
	margin-bottom: 4rem;
}
.heading--margin-none {
	margin: 0 0;
}

.text--blue,
.heading--blue {
	color: $color-primary;
}

.text--accentuated {
	font-weight: 700;
}
.text--accentuated-soft {
	font-weight: 500;
}

.text--gray {
	color: $color-gray-dark;
}

.heading--line {
	&:after {
		content: '';
		display: block;
		width: 6rem;
		height: .75rem;
		background-color: $color-tertiary;
	}
}


.text--small {
    p {
        @include font-size(1.6rem, 1.8rem);
    }
}


p {
    a:not(.button),
    a:not(.navigation__link) {
        @extend %defaultTextLink;
    }
}

