.content {
	@extend %defaultSectionPadding;
}
.content--background {
	background-color: $color-gray-light-1;
}
.content__wrapper--small {
	@include sectionwrapper(100rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}
.content__wrapper--wide {
	@include sectionwrapper(133rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}

.box__content {
	padding: 3rem 5rem;

	@include breakpoint('min-tablet-landscape') { 
		padding: 7.5rem  10rem;
	}
}