.content {
	@extend %defaultSectionPadding;
}

.content__wrapper--small {
	@extend %wrapper--small;
}
.content__wrapper--default {
	@extend %wrapper--default;
}
.content__wrapper--wide {
	@extend %wrapper--wide;
}

.content--background {
	background-color: $color-gray-light-1;
}

.box__content {
	padding: 3rem 5rem;

	@include breakpoint('min-tablet-landscape') { 
		padding: 7.5rem 10rem;
	}
}


.content__boxed {
	@include flex;
	box-shadow: 0 0 1rem 0 rgba($color-black,.2);

	.content__image {
		flex: 0 0 40%;
		max-height: 65rem;
	}
	.content__body {
		flex: 1;
		padding: 3rem;

		@include breakpoint('min-tablet-landscape') { 
			padding: 7.5rem;
		}
	}
}
