.content--spacer {
	@extend %defaultSectionPadding;
}

.content__wrapper--small {
	@extend %wrapper--small;
}
.content__wrapper--default {
	@extend %wrapper--default;
}
.content__wrapper--medium {
	@extend %wrapper--medium;
}
.content__wrapper--wide {
	@extend %wrapper--wide;
}

.content--background {
	background-color: $color-tertiary;
}

.box__content {
	padding: 3rem 5rem;

	@include breakpoint('min-tablet-landscape') { 
		padding: 7.5rem 10rem;
	}
}

.content__boxed {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape');
	box-shadow: 0 0 5rem 0 rgba($color-black,.2);

	border-top-left-radius: 2rem;
	overflow: hidden;

	&.content__boxed--right {
		.content__image {
			order: 2; 
		}
		.content__body {
			order: 1;
		}
	}

	.content__image {
		flex: 0 1 40%;

		@include breakpoint('max-tablet-landscape') { 
			height: 40rem;
		}
	}
	.content__body {
		flex: 1;
		padding: 5rem 2.5rem;

		@include breakpoint('min-tablet-landscape') { 
			padding: 7.5rem 7.5rem;
		}
		@include breakpoint('min-desktop') { 
			padding: 7.5rem 10rem;
		}
	}
}
