
.cta__wrapper {
	@include flex($dynamicDirection: true, $breakpoint: 'min-tablet-portrait');
	@include sectionwrapper(163rem, $setDefaultPadding: 0 3rem);

	// @include sectionwrapper(163rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}

.cta__image {
	height: 32.5rem;

	@include breakpoint('min-tablet-portrait') {
		height: unset;
		flex: 1;
	}
}
.cta__content {
	@include flex($direction: column);
	flex: 0 0 100%;
	padding: 5rem 3rem;
	background-color: $color-gray-light-1;

	@include breakpoint('min-tablet-landscape') {
		padding: 7.5rem 12.5rem;
	}
}

.cta--image {
	.cta__content {
		flex: 0 0 65%;
	}
}
.cta--content {
	background-color: $color-gray-light-1;

	.cta__content { 
		background-color: none;
		padding: 5rem 0;
	}
}