.customers {
	@extend %bigSectionPadding;
}
.customers__wrapper {
	@include sectionwrapper(100rem, $setDefaultPadding: 0 3rem);
}
.customers__list {
	display: grid;
	// grid-template-columns: repeat(2, 1fr);

	// @include breakpoint('min-tablet-landscape') {
	// 	grid-template-columns: repeat(2, 1fr);
	// }
	// @include breakpoint('min-tablet-landscape') {
	// 	grid-template-columns: repeat(3, 1fr);
	// }
}

.customer {
	height: auto;
	max-height: 4rem;
}