.customers {
	@extend %bigSectionPadding;
}
.customers__wrapper {
	@include sectionwrapper(100rem, $setDefaultPadding: 0 4rem);
}
.customers__list {
	@include flex($justify: center);
}

.customer {
	flex:  0 0 10rem;
	height: auto;

	&:not(:last-child) {
		margin-right: 7.5rem;
	}
}