.element {
	&:not(:last-child) {
		padding: 0 0 5rem;

		@include breakpoint('min-tablet-portrait') {
			padding: 0 0 10rem;
		}
		@include breakpoint('min-tablet-landscape') {
			padding: 0 0 15rem;
		}
	}
}
.element--nopadding {
	padding: 0 0 !important;
}