// .elements {
// 	margin: 7.5rem 0 0;

// 	@include breakpoint('min','desktop') {
// 		margin: 0 0 12.5rem 0;
// 	}
// }

.elements--nospacing-bottom {
	margin-bottom: 0 !important
}

.element {
	&:not(:last-child) {
		padding: 0 0 7.5rem;

		@include breakpoint('min','tablet-portrait') {
			padding: 0 0 10rem;
		}
		@include breakpoint('min','tablet-landscape') {
			padding: 0 0 15rem;
		}
		@include breakpoint('min','desktop') {
			padding: 0 0 20rem;
		}
	}
}
.element--nopadding {
	padding: 0 0 !important;
}
