.method {
	@include flex($dynamicDirection: true, $breakpoint: 'min-desktop', $wrap: wrap);
}
.method__wrapper {
	@include sectionwrapper(100rem, $setDefaultPadding: 0 2.5rem, $unsetPadding: true);
}
.method__left,
.method__right {
	padding: 3rem 5rem;

	@include breakpoint('min-tablet-landscape') {
		padding: 10rem 15rem;
	}
}
.method__left {
	flex: 1;
}
.method__right {
	background-color: $color-gray;

	@include breakpoint('max-tablet-landscape') {
		margin-top: 5rem;
	}
	@include breakpoint('min-tablet-portrait') {
		flex: 0 0 37.5%;
	}
	@include breakpoint('min-desktop') {
		flex: 0 0 47.5%;
	}
}

.method__list {
	@include flex($direction: column);
}

.method__step {
	@include flex($direction: column);
	position: relative;

	&:not(:last-child) {
		margin-bottom: 5rem;
	}

	p {
		font-size: 1.6rem;

		@include breakpoint('min-tablet-landscape') {
			font-size: 2.4rem;
		}
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 2rem;
	}
}
.method__title {
	@include flex($align: flex-end);
	margin-bottom: 2rem;
}
.method__number {
	color: $color-primary;
	margin-right: 2rem;
}
