.method {
	@include flex($dynamicDirection: true, $breakpoint: 'min-desktop', $wrap: wrap);
}

.method__title {
	flex: 0 0 100%;
}
.method__left,
.method__right {
	padding: 3rem 5rem;
	
	@include breakpoint('min-tablet-landscape') {
		padding: 10rem 15rem;
	}
}
.method__left {
	flex: 1;
}
.method__right {
		background-color: $color-gray-blue-soft;

	@include breakpoint('max-tablet-landscape') {
		margin-top: 5rem;
	}
	@include breakpoint('min-tablet-portrait') {
		flex: 0 0 37.5%;
	}
	@include breakpoint('min-desktop') {
		flex: 0 0 47.5%;
	}
}


.method__list {
	@include flex($direction: column);
}
.method__step {
	@include flex($align: flex-start);
	font-size: 1.8rem;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	@include breakpoint('min-tablet-landscape') {
		font-size: 2.4rem;
	}
}
.method__number {
	@include flex($align: center, $justify: center);
	font-weight: 500;
	margin-right: 2rem;
}
.method__link {
	&:hover,
	&:focus {
		color: $color-green;
	}
}