.projects--all {
	padding: 0 0 20rem;
}

.projects--latest {
	@include flex;
	@extend %defaultSectionPadding;
	width: 100%;

	@include breakpoint('min-tablet-portrait') {
		padding: 7.5rem 0;
	}
	@include breakpoint('min-desktop') {
		padding: 10rem 0;
	}
}

.projects__wrapper {
	@include flex($wrap: wrap);
	@include sectionwrapper(163rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}
.projects__wrapper--medium {
	@include flex($wrap: wrap);
	@include sectionwrapper(153rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}
.projects__wrapper--narrow {
	@include flex($wrap: wrap);
	@include sectionwrapper(133rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}

.projects__list--column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4rem;
	width: 100%;
	margin-top: 3rem;

	@include breakpoint('min-tablet-landscape') {
		grid-template-columns: repeat(2, 1fr);	
		grid-gap: 7.5rem;
		margin-top: 5rem;
	}
}
.projects__list--row {
	@include flex($wrap: wrap);
	width: 100%;
}

.details__wrapper {
	@include sectionwrapper(163rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}