.referer {
    @extend %bigSectionPadding;
    background-color: $color-gray;
}
.referer__wrapper {
    @include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape', $justify: space-between);
    @include sectionwrapper(143rem, $setDefaultPadding: 0 3rem);
    gap: 3rem;

    @include breakpoint('min-tablet-landscape') {
        gap: 5rem;
    }
    @include breakpoint('min-tablet-landscape') {
        gap: 7.5rem;
    }
}
.referer__wrapper--wide {
    @include flex($dynamicDirection: true, $breakpoint: 'min-tablet-landscape', $justify: space-between);
    @include sectionwrapper(163rem, $setDefaultPadding: 0 3rem);
    gap: 3rem;

    @include breakpoint('min-tablet-landscape') {
        gap: 5rem;
    }
    @include breakpoint('min-tablet-landscape') {
        gap: 7.5rem;
    }
}
.referer__content {
    flex: 1;
    background-color: $color-primary;
    color: $color-white;
    padding: 1.5rem;

    @include breakpoint('max-tablet-landscape') {
        margin-bottom: 5rem;
    }
    @include breakpoint('min-tablet-landscape') {
        margin-bottom: auto;
        padding: 3rem;
    }
}
.referer__list {
    display: grid;
    grid-gap: 5rem 0;
    flex: 0 0 57.5%;

    @include breakpoint('min-tablet-portrait') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint('min-tablet-landscape') {
        grid-gap: 5rem 5rem;
    }
}
.referer__list--three {
    display: grid;
    grid-gap: 5rem 0;
    flex: 0 0 70%;

    @include breakpoint('min-tablet-portrait') {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem 5rem;
    }
    @include breakpoint('min-desktop') {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 7.5rem 7.5rem;
    }
}

.target__link {
    @include flex($direction: column);

    &:hover,
    &:focus,
    &:active {
        .target__title {
            &:before {
                width: 7rem;
            }
        }
    }
}
.target__title {
    font-weight: 600;
    font-size: 1.8rem;

    &:before {
        content: '';
        width: 4rem;
        height: .4rem;
        background-color: $color-primary;
        display: block;
        transition: all .2s linear;
    }

    @include breakpoint('min-tablet-landscape') {
        font-size: 2.4rem;
    }
}
.target__description {
    * {
        font-size: 1.8rem;
    }
}

.referer__intro {
    margin-top: 2rem;
    font-size: 2rem;
}
