.navigation__socials {
	@include flex;
	padding-right: 4rem;
	margin-bottom: 4rem;

	@include breakpoint('min-tablet-landscape') {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 4rem;
		margin-bottom: 0;
	}
}
.social__link {
	display: block;
	width: 4rem;
	height: 4rem;
	transition: all .15s linear;

	&:not(:last-child) {
		margin-right: 2rem;
	}

	&:hover,
	&:focus {
		transform: scale(1.12);
	}

	@include breakpoint('min-tablet-landscape') {
		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}