.about {
	@extend %defaultSectionPadding;
}
.about__wrapper	{
	@include flex;
	@include sectionwrapper(100rem);
}

.about__box {
	background-color: $color-gray-light-2;
}
.about__image {
	height: 30rem;

	@include breakpoint('min-tablet-landscape') {
		height: 45rem;
	}
	@include breakpoint('min-desktop-large') {
		height: 60rem;
	}
}
.about__content {
	padding: 3rem 5rem;

	@include breakpoint('min-tablet-landscape') { 
		padding: 7.5rem  10rem;
	}
}