.articles__wrapper {
	@include sectionwrapper(133rem, $setDefaultPadding: 0 3rem, $unsetPadding: true);
}

.articles__list--column {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	grid-gap: 3rem 0;	

	@include breakpoint('min-tablet-portrait') {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3rem 3rem;	
	}
	@include breakpoint('min-tablet-landscape') { 
		grid-gap: 5rem 5rem;
	}
	@include breakpoint('min-desktop') { 
		grid-gap: 7.5rem 7.5rem;
	}
}